<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>User</title>
</h:head>
<body>

<h:form>
    <p:panel id="panel" header="Form" style="margin-bottom:10px;">
        <p:messages id="messages"/>
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="name" value="UserName:"/>
            <p:inputText id="name" required="true" value="#{user.name}">
                <f:validateLength minimum="3"/>
            </p:inputText>
            <p:outputLabel for="age" value="UserAge:"/>
            <p:inputText id="age" required="true" value="#{user.age}">
                <f:validateLongRange minimum="1" maximum="100"/>
            </p:inputText>
        </h:panelGrid>
        <p:commandButton value="Submit" update="panel" actionListener="#{user.submit}" icon="ui-icon-check" />
    </p:panel>
</h:form>

</body>
</html>