<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <h:outputStylesheet name="${pageContext.request.contextPath}/styles.css"/>
    <title>Tariffs and options</title>

</h:head>
<body >

<p:layout fullPage="true">

    <p:layoutUnit styleClass="head" position="north" size="100">
        <h:outputText style="font-family: Courier,cursive; font-size: 30px;" value="mobileCom"/>
    </p:layoutUnit>

    <p:layoutUnit styleClass="footer" position="south" size="50">
        <h:form>
            <h:outputText id="number_update" style="font-family: Helvetica,sans-serif; font-size: 15px;"
                          value="Last changes: changed #{tariffs.tariffs.idTariff}"
                          rendered="#{tariffs.tariffs.idTariff != null}"/>
        </h:form>
    </p:layoutUnit>

    <p:layoutUnit position="east" size="200" header="Menu" resizable="true" closable="true" collapsible="true"
                  effect="drop">
        <h:form>
            <p:clock displayMode="analog"/>
        </h:form>
    </p:layoutUnit>

    <p:layoutUnit styleClass="center" position="center" style="background-color: whitesmoke">
        <h1 style="font-family: Verdana,serif" align="center">Tariff and options news</h1>

        <div id="container">
            <h:form id="response">
                <p:poll interval="3" update="tariff_update"/>

                <p:dataTable tableStyleClass="main_table" id="tariff_update" var="tariffDto"
                             value="#{tariffs.tariffs.tariffSimpleDtos}">
                    <p:column rendered="#{tariffDto.id == tariffs.tariffs.idTariff}"
                              style="background-color: powderblue; text-align:  center; width: 30px;"
                              headerText="Id">
                        <h:outputText value="#{tariffDto.id}"/>
                    </p:column>
                    <p:column rendered="#{tariffDto.id != tariffs.tariffs.idTariff}"
                              style="text-align:  center; width: 30px;"
                              headerText="Id">
                        <h:outputText value="#{tariffDto.id}"/>
                    </p:column>
                    <p:column headerText="TITTLE" style="width: 150px; text-align: center; font-size: 30px;">
                        <h:outputText value="#{tariffDto.tittle}"/>
                    </p:column>
                    <p:column headerText="PRICE" style="width: 60px; text-align: center; font-size: 20px;">
                        <h:outputText value="#{tariffDto.price} P"/>
                    </p:column>
                    <p:column headerText="OPTIONS" style="text-align: center; font-size: 20px;">
                        <p:dataTable style="background-color: #e8edff"
                                     value="#{tariffDto.options}" var="option" type="ordered">
                            <p:column style=" text-align: center; width: 120px;" headerText="TITTLE">
                                <h:outputText value="#{option.tittle}"/>
                            </p:column>
                            <p:column headerText="COST" style=" width:50px; text-align: center; font-size: 20px;">
                                <h:outputText value="#{option.cost} P"/>
                            </p:column>
                            <p:column headerText="PRICE" style="width:50px; text-align: center; font-size: 20px;">
                                <h:outputText value="#{option.price} P"/>
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>
    </p:layoutUnit>
</p:layout>

</body>
</html>