
.main_table{
    border-top: 3px solid #69c;
    border-bottom: 3px solid #69c;
    margin: auto;
    width: 800px;
}
.main_table th{
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
}

.main_table td {
    color: #669;
    width: 100px;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}

.main_table tr:nth-child(2n) {
    background: #e8edff;
}

.ui-layout-container.center{
    background-image:url("sim.jpeg");
}

.ui-layout-container.footer{
    background-color:#6699cc;
}

.ui-layout-container.head{
    background-color: #6699cc;
}

.center{
   background-image: url(sim.jpeg);
}